<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<header>

</header>
<body>
  <h2>Register</h2>
  <form action="/register" method="POST">
    <p>E-mail : <input name="email" type="email"
       style="width: 300px;"></p>
    <p>Password : <input name="password" type="password" value="password"
       style=" width: 150px;"></p>
    <input type="submit" value="Register!">
  </form>

</body>
</html>