<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<header>
    <% include ./partials/_header.ejs %>
    <hr>
</header>
<body>
  <form action="" method="POST">
      <input name="newURL" type="text"
      placeholder="http://" style="width: 300px;">
      <input type="submit" value="update">
  </form>

</body>
</html>